/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 8
 *
 * Global CSS.
 */
/* allow map to fill viewport */

html,
body,
#map-canvas,
.container-fluid {
	/* height of these elements */
	
	height: 100%;
	/* no margin around these elements */
	
	margin: 0;
	/* disable scrollbars */
	
	overflow: hidden;
	/* no padding within these elements */
	
	padding: 0;
}
/* align form to right of pan control */
.disclaim{
    position: absolute;
    top: 60px;
    left: 0px;
    font-size: small;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#form {
	/* distance from left edge of viewport */
	
	left: 100px;
	/* position form "absolutely" where we want it */
	
	position: absolute;
	/* distance from top edge of viewport */
	
	top: 28px;
}
/* stylize text box */

#q {
	/* override typeahead.js's transparent background */
	
	background-color: #ffffff !important;
	/* text box's width */
	
	width: 300px;
}
/* stylize places' labels */

.label {
	/* small, black text */
	
	color: #000000;
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	/* don't let places' labels wrap onto multiple lines */
	
	white-space: nowrap;
}
/* stylize info window */

#info {
	/* no margin around this element */
	
	margin: 0;
	/* should be at least this width */
	
	min-width: 200px;
	/* allow scrollbars as needed */
	
	overflow: auto;
}
/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */

.tt-dropdown-menu {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 1px;
	max-height: 150px;
	overflow-y: auto;
	padding: 6px 12px;
	width: 300px;
}

.tt-suggestion.tt-cursor {
	background-color: #0097cf;
	color: #fff;
	cursor: pointer;
}

.tt-suggestion p {
	margin: 0;
}

.labels {
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	text-align: left;
	white-space: nowrap;
	overflow: auto;
}
#drawCanvas { 
    position: absolute; 
    top: 200px; 
    left: 100px; 
    /*z-index: 199;*/
    background-color: #ffffff;
    width: 400px;
    margin: 0;
    border-radius: 15px;
    border: 1px solid #ccc;         
    padding: 20px; 
}


h2.tut{
	position:absolute;
	top: -20px;
	left: -20px;
	color:white;
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:16px;
	padding:12px 0 0 58px;
	text-transform:uppercase;
	
	text-shadow:2px 1px 6px #333;
}

#twitter-ticker{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
	height:500px;
	background:url(img/slickbg.png)	no-repeat #f5f5f5;
	color:#666666;
	display:none;
    -moz-  border-radius:10px 10px 6px 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
	border-radius:6px;
	text-align:left;
}

#tweet-container{
	height:430px;
	width:200px;
	overflow:hidden;
}

#twitIcon{
	
	top:0px;
	left:0px;
	width:64px;
	height:64px;
}

#top-bar{
	height:45px;
	background:url(img/top_bar.png) repeat-x;
	border-bottom:1px solid white;
	margin-bottom:8px;
	
	-moz-border-radius:6px 6px 0 0;
}

.tweet{
	padding:3px;
	margin:0 8px 5px;
	border:1px solid #F0F0F0;
	background:url(img/transparent.png);
	width:auto;
	overflow:hidden;
}

.tweet .avatar,
.tweet .user,
.tweet .time{
	float:left;
}

.tweet .time{
	text-transform:uppercase;
	font-size:10px;
	color:#AAAAAA;
	white-space:nowrap;
}


.tweet .avatar img{
	width:36px;
	height:36px;
	border:2px solid #eeeeee;
	margin:0 5px 5px 0;
}

.tweet .txt{
	clear:both;
}

.tweet .user{
	font-weight:bold;
}

a, a:visited {
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

#loading{
	margin:100px 95px;
}




/* jScrollPane Customizations */

.jspVerticalBar {
    position: absolute;
	right: 4px !important;
	width: 9px !important;

}

/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/
/*
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

#weather {
  position: absolute;
  top: 300px;
  left: 20px;
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}
